<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javierarias.magnadroid"
    android:versionCode="3"
    android:versionName="@string/version_public">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.javierarias.magnadroid.Magnadroid"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="67728518aef7325342867abe1dddb27f8fb97c19"/>
        <activity
            android:name="com.javierarias.magnadroid.generalInfo"
            android:label="@string/accuracy_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop"
            android:parentActivityName="com.javierarias.magnadroid.Magnadroid" >
            <!-- Parent activity meta-data to support 4.0 and lower -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.javierarias.magnadroid.Magnadroid" />
        </activity>
    </application>

</manifest>
